coverage/
*.tsbuildinfo
node_modules/
.DS_Store
tmp/
dist/
build/
docs/*
!docs/
!docs/geospatial-api-spec.md
scratchpad/*
!scratchpad/tsconfig.json
.direnv/
.idea/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache

packages/*/public/tiles


# Added by cargo

/target
